@charset "utf-8";
/* CSS Document */
a{text-decoration:none;}
.container{ box-shadow: 0 0 10px #9c9f99; width:1200px; margin:0 auto;	background-color: #Fff;}



header{
	height: 120px;
}

header .container .header_top{
	height: 127px; 
	box-shadow: 0 -5px 10px #9c9f99;
	margin-top: 30px;
	background: url(../images/bg_top.png) no-repeat bottom right;
}
header .container .header_top .logo{
   padding-top: 30px;
   padding-left: 50px;
}
.logo h2{
	color: #07be14;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0px;
}
.logo p
{
	color: #69706b;
	margin-top: 2px;
}
header .container nav{
	height: 44px;
	background: url(../images/bg_nav.png) repeat-x;

}

nav ul{
	list-style-type: none;
	margin: 0px; padding: 0px;
}

nav ul li{
	float: left;
}
nav ul li a{
	line-height: 44px;
	color: #fff;
	font-size: 14px;
	display: block;
	text-transform: uppercase;
	padding: 0 20px;
}
nav ul li a:hover, nav ul li a:focus{
	background-color: #fff;
	color: #66b109;
}



.bieudo_bando .bieudo, .bando
{
	height: 500px;
	border-radius: 10px;
	box-shadow: 0 0 10px #9c9f99;
	margin: 30px 0;
}

footer .container
{
	margin-bottom: 40px;
	box-shadow: 0 5px 10px #9c9f99;
}
footer .chitiet_footer, .social_footer
{
	background-color: #07be14;
	height: 100px;
	
	
}

footer .banquyen{
	height: 40px;
	background: #232421;
	padding: 0px;
}
footer .banquyen p{
	margin: 0px;
	line-height:40px;
	text-align: center;
	color: #9c9f99;
	font-size: 11px;
}
